html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  width: 100%;
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  width: 33%;
  margin: 8px auto;
  padding: 7px;
}